{
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "importOrder": ["^components/(.*)$", "^[./]" ],
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true 
}
